.questionBox {
  text-align: center;
}

.homeContainer {
  background-color: cyan;
}

.userForm {
  width: 100%;
  /* border-style: groove; */
  border-radius: 25px;
  margin: 10px;
  padding: 5px 10px;
  background-color: salmon;
}
.userForm,
input {
  width: 100%;
  float: left;
}

.choosing {
  font-style: italic;
  color: grey;
  font-size: 12px;
}

.btn-success {
  margin: auto;
  text-align: center;
}

.btn-success:hover {
  color: red;
  size: 200%;
}

.gif {
  display: block;
  margin: auto;
  padding: auto;
  width: 50%;
}

.container {
  width: 100%;
  margin: auto;
}
